body {
    font-family: 'Courier New', Courier, monospace ;
}
.gridContainer {
    display: grid;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: white;
    border: thin black solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.gridItem {
    background-color: transparent;
}
h1, h2 {
    text-align: center;
    line-height: 1.5em;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
header {
    width: 100%;
    background-color: black;
    padding: 5px;
    color: white;
    box-shadow: 0 0 10px black;
}
main {
    width: 100%;
    padding-top: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(198, 17%, 20%);
    box-shadow: 0 0 6px hsl(198, 17%, 20%);
    text-align: center;
    color: white;
    padding: 1em;
}
a {
    color: lightgray;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
    color: white;
}
#buttons {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 500px;
}
.option {
    background-color: #f2f2f2;
    background: linear-gradient(180deg,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 36px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 600;
}
.option:hover, #color:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(180deg,#f8f8f8,#f1f1f1);
    color: #222;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
}
.option:active {
    box-shadow: inset 0 2px 0 rgba(141, 77, 77, 0.15);
}
#rainbow, #shade {
    transition: all .2s;
}
#rainbow:hover, #rainbow.active {
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
    background-image: linear-gradient(90deg, hsl(0, 98%, 83%) 0%, hsl(63, 98%, 83%) 25%, hsl(127, 98%, 83%) 50%, hsl(191, 98%, 83%) 75%, hsl(255, 98%, 83%) 100%);;
    color: #222;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: black;
    transform: scale(1.1);
}
#shade:hover, #shade.active{
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: black;
    transform: scale(1.1);
}
#rainbow:active , #shade:active{
    box-shadow:inset 0 0 4px rgba(0,0,0,0.3);
}
#color {
    background-color: #f2f2f2;
    background: linear-gradient(180deg,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 11px 4px;
    line-height: 36px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    box-sizing: border-box;
}